@import "../Shared/Styles";

.tile {
  @include subtleBoxShadow();
  background-color: $color;
  padding: 10px;
}

.chart-selector{
    background-color: $color2;
    font-size: $fontSize2;
    color: #1163c9;
    border: 1px solid;
    margin: 5px;
    float: right;
}