@import "/src/Shared/Styles";

.tile {
  @include subtleBoxShadow();
  background-color: $color;
  padding: 10px;
}

.tile-selectable {
  &:hover {
    cursor: pointer;
    box-shadow: $greenBoxShadow;
  }
}

.tile-deletable {
  &:hover {
    cursor: pointer;
    box-shadow: $redBoxShadow;

    .delete-icon {
      display: block;
      color: red;
    }
  }
}

.tile-disabled {
  pointer-events: none;
  opacity: 0.4;
}
