@import "../Shared/Tile.scss";

.header-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.coin-symbol {
  justify-self: right;
}

.delete-icon {
  justify-self: right;
  display: none;
}
