@import "/src/Shared/Styles";

.confirmBtn {
  margin: 20px;
  color: $color3;
  font-size: $fontSize1;
  padding: 5px;
  cursor: pointer;

  &:hover {
    box-shadow: $greenBoxShadow;
  }
}

.confirmBtn-wrapper {
  display: grid;
  justify-content: center;
  cursor: pointer;
}
